.button
{
    -fx-background-color:  #3F2B63;
}
.button:hover
{
    -fx-background-color:  #7156DD;
    -fx-color:  #fff;
    -fx-opacity: 1.0;
}
.button:pressed
{
    -fx-background-color:  #7156DD;
}
