.button
{
    -fx-background-color: transparent;

}
.button:hover
{
    -fx-background-color:  #7156DD;
    -fx-color:  #fff;
    -fx-opacity: 1.0;
}
.button:pressed
{
    -fx-background-color:  #7156DD;
}
#leftpane
{
    -fx-background-color: linear-gradient(to bottom,#3F2B63,#000);
}
#Title
{
    -fx-background-color: linear-gradient(to right,#3F2B63,#000);
}