*{
-fx-padding: 10px;


}
.root{
-fx-border-color: #660022;
-fx-border-radius: 10px;
-fx-border-width: 3px;
}
.text-field{
-fx-border-color: #660022;
-fx-border-radius: 10px;
-fx-border-width: 3px;

}
.label{

}
.button{
-fx-alignment: center;
-fx-border-radius: 20px;

}
.pane{
-fx-alignment: center;
-fx-border-radius: 20px;

}

